<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Show Projects</title>
</head>
<body>
	<h1><%= @project.name %> <%= @project.description %></h1>
<!-- 	<a href="/projects/<%= @project.id %>/edit">Edit Project</a>
	<a href="/projects">All Projects</a> -->
</body>
</html>